.u-section-1 {
    background-image: url("images/background cartoon2.webp");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1464px;
}

.u-section-1 .u-image-1 {
  width: 626px;
  height: 96px;
  margin: 58px auto 0;
}

.u-section-1 .u-image-2 {
  width: 610px;
  height: 52px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.625rem;
  width: 629px;
  margin: 6px auto 0;
}

.u-section-1 .u-image-3 {
  width: 607px;
  height: 548px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.125rem;
  width: 629px;
  margin: 30px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 501px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: -33px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 33px;
  height: 33px;
  margin: -33px auto 0 607px;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: "Annie Use Your Telescope";
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 68px 52px 0;
}

.u-section-1 .u-text-4 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 8px 52px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 220px;
  min-width: 42px;
  margin: 84px auto 0;
}

.u-section-1 .u-text-5 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.25rem;
  width: 629px;
  margin: 5px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -7px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -1px;
    margin-left: 408px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 500px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
  }

    .u-section-1 .u-text-4 {
       
        margin-top: 11px;
        margin-left: 0;
        margin-right: 0;
    }

  .u-section-1 .u-text-5 {
    width: 627px;
    margin-top: 11px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
    margin-left: 294px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 294px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 55px;
  }

    .u-section-1 .u-text-4 {
        font-size: medium;
        text-align: justify;
        margin-top: 19px;
    }

  .u-section-1 .u-social-icons-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-1 .u-image-1 {
    width: 525px;
    height: 75px;
    margin-top: 71px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 46px;
    margin-top: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 540px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 488px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 206px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 206px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 14px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 81px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1395px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 49px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 29px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    height: 307px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 111px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: auto;
    margin-left: 196px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 44px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 65px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("images/hauteur2.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Amatic SC";
  font-weight: normal;
  text-shadow: 0px 2px 8px rgba(0,0,0,1);
  width: 605px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 0px 2px 8px rgba(0,0,0,1);
  font-family: "Annie Use Your Telescope";
  font-weight: normal;
  font-size: 3rem;
  margin: 10px 0 0;
}

.u-section-2 .u-countdown-1 {
  height: 183px;
  margin: 61px auto 0;
}

.u-section-2 .u-countdown-item-1 {
  background-image: none;
  padding: 20px;
}

.u-section-2 .u-countdown-counter-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-countdown-separator-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-item-2 {
  background-image: none;
  padding: 20px;
}

.u-section-2 .u-countdown-counter-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-countdown-separator-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-item-3 {
  background-image: none;
  padding: 20px;
}

.u-section-2 .u-countdown-counter-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-countdown-separator-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-item-4 {
  background-image: none;
  padding: 20px;
}

.u-section-2 .u-countdown-counter-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-countdown-separator-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-item-5 {
  background-image: none;
  padding: 20px;
}

.u-section-2 .u-countdown-counter-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-countdown-separator-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-item-6 {
  background-image: none;
  padding: 20px;
}

.u-section-2 .u-countdown-counter-6 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-group-1 {
  width: 739px;
  min-height: 228px;
  height: auto;
  margin: 67px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-2 .u-text-3 {
  font-family: "Amatic SC";
  font-size: 3rem;
  margin: 19px auto 0;
}

.u-section-2 .u-line-1 {
  width: 215px;
  transform-origin: right center 0px;
  top: 90px;
  position: absolute;
}

.u-section-2 .u-text-4 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.5rem;
  margin: 41px 30px 0;
}

.u-section-2 .u-form-1 {
  height: 78px;
  width: 570px;
  margin: -8px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-text-5 {
  font-family: "Annie Use Your Telescope";
  font-size: 2.25rem;
  text-shadow: 0px 2px 8px rgba(0,0,0,1);
  line-height: 1.4;
  width: 804px;
  margin: 60px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: 48px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-form-1 {
    margin-top: -10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 68px;
    margin-right: 68px;
  }

    .u-video-1 {
        height: 528px !important;
        width: 940px !important;
        margin: 41px auto 0;
    }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-group-1 {
    margin-top: 66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    width: 720px;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

     .u-video-1 {
        height: 440px !important;
        width: 720px !important;
        margin: 41px auto 0;
    }

}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-6 {
    font-size: 3rem;
  }

  .u-section-2 .u-group-1 {
    margin-top: 30px;
    min-height: 290px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-2 .u-line-1 {
    top: 93px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 37px;
    margin-right: 72px;
    margin-left: 90px;
  }

  .u-section-2 .u-form-1 {
    height: 141px;
    width: 438px;
    margin-top: -21px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 60px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 41px;
  }

     .u-video-1 {
        height: 304px !important;
        width: 540px !important;
        margin: 41px auto 0;
    }
}

@media (max-width: 575px) {


    .u-video-1 {
        height: 190px !important;
        width: 340px !important;
        margin: 41px auto 0;
    }

  .u-section-2 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-1 {
    margin-top: 43px;
    margin-left: 16px;
    margin-right: -12px;
    padding: 22px 0;
  }

  .u-section-2 .u-countdown-counter-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-separator-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-counter-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-separator-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-counter-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-separator-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-counter-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-separator-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-counter-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-separator-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-countdown-counter-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-1 {
    margin-top: 48px;
    min-height: 326px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 29px;
  }

  .u-section-2 .u-line-1 {
    top: 85px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
    margin-top: 0;
    margin-bottom: -8px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.625rem;
    margin-top: 69px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 682px;
}

.u-section-3 .u-text-1 {
  font-family: "Amatic SC";
  font-size: 3.75rem;
  width: 327px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.5rem;
  width: 799px;
  margin: 18px auto 0;
}

.u-video-1 {
  height: 562px;
  width: 1000px;
  margin: 41px auto 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-3 .u-text-3 {
  font-family: "Annie Use Your Telescope";
  font-size: 1rem;
  width: 799px;
  margin: 1px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-video-1 {
    height: 304px;
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-video-1 {
    height: 191px;
    width: 340px;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 666px;
}

.u-section-4 .u-text-1 {
  font-family: "Amatic SC";
  font-size: 3.75rem;
  width: 377px;
  margin: 61px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.5rem;
  width: 887px;
  margin: 17px auto 0;
}



.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-4 .u-text-3 {
  font-family: "Annie Use Your Telescope";
  font-size: 1rem;
  width: 799px;
  margin: 1px auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }



  .u-section-4 .u-text-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.5rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

} .u-section-5 w
  background-image: url("images/urgence.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 524px;
}

.u-section-5 .u-text-1 {
  font-family: "Amatic SC";
  font-size: 3.75rem;
  width: 734px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: normal;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: "Annie Use Your Telescope";
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 902px;
  line-height: 1.4;
  margin: 28px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 49px auto 60px;
  padding: 15px 34px 17px;
}

.u-section-5 .u-icon-1 {
  font-size: 1.6876em;
  margin-right: 9px;
  vertical-align: -5px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 700;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 47px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}


.u-section-6 .u-sheet-1 {
  min-height: 753px;
}

.u-section-6 .u-text-1 {
  font-family: "Amatic SC";
  font-size: 3.75rem;
  width: 217px;
  margin: 75px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Annie Use Your Telescope";
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 49px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 465px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/solo.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  text-transform: none;
  font-family: "Amatic SC";
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-family: "Annie Use Your Telescope";
  margin: 12px 0 0;

}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/pm.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Amatic SC";
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-6 .u-text-6 {
  font-family: "Annie Use Your Telescope";
  margin: 12px 0 0;
}

.u-section-6 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-icon-6 {
  height: 100%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/rn.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-image-4 {
    width: 240px;
    height: 240px;
    background-image: url("images/you.webp");
    background-position: 50% 50%;
    margin: 0 auto;
}

.u-section-6 .u-image-5 {
    width: 240px;
    height: 240px;
    background-image: url("images/Mgls.webp");
    background-position: 50% 50%;
    margin: 0 auto;
}

.u-section-6 .u-image-6 {
    width: 240px;
    height: 240px;
    background-image: url("images/clicnroll.webp");
    background-position: 50% 50%;
    margin: 0 auto;
}


.u-section-6 .u-image-7 {
    width: 240px;
    height: 240px;
    background-image: url("images/aa.webp");
    background-position: 50% 50%;
    margin: 0 auto;
}
.u-section-6 .u-image-8 {
    width: 240px;
    height: 240px;
    background-image: url("images/chicas.webp");
    background-position: 50% 50%;
    margin: 0 auto;
}


.u-section-6 .u-text-7 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Amatic SC";
  margin: 20px auto 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-6 .u-text-8 {
  font-family: "Annie Use Your Telescope";
  margin: 12px 0 0;
}

.u-section-6 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-7 {
  height: 100%;
}

.u-section-6 .u-icon-8 {
  height: 100%;
}

.u-section-6 .u-icon-9 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 1639px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 62px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 4px;
  }
} .u-section-7 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-sheet-1 {
  min-height: 330px;
}

.u-section-7 .u-text-1 {
  font-family: "Amatic SC";
  font-size: 3.75rem;
  width: 540px;
  margin: 84px auto 0;
}

.u-section-7 .u-text-2 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.875rem;
  width: 555px;
  margin: 19px auto 0;
}

.u-section-7 .u-text-3 {
  font-family: "Annie Use Your Telescope";
  font-size: 1.875rem;
  width: 540px;
  margin: 0 auto 60px;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    width: 340px;
    margin-top: 20px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 950px;
}

.u-section-8 .u-text-1 {
  font-family: "Amatic SC";
  font-size: 3.75rem;
  margin: 86px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 654px;
  width: 1001px;
  margin: 40px auto 0;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Annie Use Your Telescope";
  font-style: normal;
  margin: 22px auto 43px;
}


.u-section-6 {
    color: black !important;
    background-image: none;

}

.whiteback {
    border: white solid 1px;
    border-radius: 50px;
    background-color: rgba(255,255,255,1);
    margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 83px;
  }

  .u-section-8 .u-gallery-1 {
    height: 630px;
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-8 .u-gallery-1 {
    height: 481px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    margin-top: 40px;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {


    #rotatingImage {
        left:35% !important;
    }

  .u-section-8 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
    margin-top: 85px;
  }

  .u-section-8 .u-gallery-1 {
    height: 357px;
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {

    #retrobg-sunWrap {
        width: 100%;
    }

    #rotatingImage {
        left: 25% !important;
    }

  .u-section-8 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-gallery-1 {
    height: 227px;
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

    .u-section-8 .u-text-2 {
        margin-top: 30px;
        margin-bottom: 55px;
        font-size: 1.5rem;
    }
}




    .carousel-item {
   
        color: white;
        font-family: agency FB;
       
        font-size:xx-large;
    }





.imgMerch {
    max-width: 300px;
    width: 100%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

    /* Style for individual images */
    .image-grid img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    }









#retrobg {
    position: relative;
    overflow: hidden;
    height: 100%;
    color: #2F88C2;
    background-color: #000;
}
/* ............................................................... */
#retrobg-sky {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient(#214 75%, #249);
}
/* ............................................................... */
#retrobg-sunWrap {
    position: relative;
    width: 35%;
    margin-bottom: -15%;
}

#retrobg-sun {
    --glow-color: #2f88c2;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(#f9f9f9, #DBEBF8, #2F88C2 50%);
    box-shadow: 0 0 160px 80px var(--glow-color);
    animation: 2s ease infinite alternate retrobg-sun-glow-anim;
}

.retrobg-shutdown #retrobg-sun {
    background-image: linear-gradient(#000, #000 40%);
    --glow-color: #000;
}

@keyframes retrobg-sun-glow-anim {
    from {
        box-shadow: 0 0 160px 80px var(--glow-color);
    }

    to {
        box-shadow: 0 0 200px 95px var(--glow-color);
    }
}
/* ............................................................... */
#retrobg-stars {
    position: absolute;
    width: 100%;
    height: 100%;
}

.retrobg-star {
    position: absolute;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: #fff;
}
/* ............................................................... */
#retrobg-mountains {
    position: absolute;
    width: 100%;
    height: 30%;
}

.retrobg-mountain {
    position: absolute;
    width: 30%;
    height: 100%;
    background-image: linear-gradient(#000 70%, #111 85%, #fff 1);
}

#retrobg-mountains-left {
    left: 0;
    clip-path: polygon(0% 100%, 0% 55%, 5% 60%, 10% 55%, 20% 50%, 25% 42%, 30% 38%, 33% 35%, 40% 45%, 50% 50%, 60% 70%, 70% 85%, 75% 82%, 80% 91%, 85% 90%, 90% 95%, 95% 98%, 100% 100%);
}

#retrobg-mountains-right {
    right: 0;
    clip-path: polygon(0% 100%, 5% 95%, 10% 85%, 15% 87%, 20% 80%, 25% 78%, 30% 65%, 40% 70%, 50% 57%, 60% 53%, 67% 68%, 70% 70%, 75% 66%, 80% 55%, 90% 50%, 95% 60%, 100% 57%, 100% 100%);
}
/* ............................................................... */
#retrobg-cityWrap {
    position: absolute;
    width: 50%;
    margin-left: -1%;
}

#retrobg-city {
    padding-top: 20%;
}

.retrobg-building {
    position: absolute;
    width: 5%;
    height: 100%;
    bottom: 0;
    border-radius: 4px 4px 0 0;
    background-image: linear-gradient(0deg, rgba(17, 17, 34, 0), #112 30px, #000);
}

    .retrobg-building:nth-child( odd) {
        background-image: linear-gradient(0deg, rgba(24, 24, 42, 0), #223 30px, #000);
    }

.retrobg-antenna::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: calc(-1px - 5%);
    bottom: 100%;
    width: 10%;
    min-width: 2px;
    height: 33%;
    background-color: #000;
}
/* ............................................................... */
#retrobg-ground {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 45%;
    bottom: 0;
    border-top: 2px solid #2F88C2;
    background-color: #000;
}

.retrobg-shutdown #retrobg-ground {
    border-color: #000;
}

#retrobg-groundShadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#000 0%, transparent);
}
/* ............................................................... */
#retrobg-linesWrap {
    height: 100%;
    perspective: 1000px;
    perspective-origin: center top;
}

#retrobg-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: top center;
    animation: 0.35s linear infinite retrobg-lines-anim;
}

.retrobg-shutdown #retrobg-lines {
    animation-duration: 5s;
}

@keyframes retrobg-lines-anim {
    from {
        transform: rotateX(84deg) translateY(0);
    }

    to {
        transform: rotateX(84deg) translateY(100px);
    }
}

#retrobg-hlines, #retrobg-vlines {
    position: absolute;
    left: calc(( 900% - 100% ) / -2);
    width: 900%;
    height: 500%;
}

#retrobg-vlines {
    display: flex;
    justify-content: center;
}

.retrobg-hline, .retrobg-vline {
    width: 100%;
    height: 100%;
    background-color: currentColor;
}

.retrobg-hline {
    height: 3px;
}

.retrobg-vline {
    width: 3px;
}

.retrobg-hline + .retrobg-hline {
    margin-top: 98px;
}

.retrobg-vline + .retrobg-vline {
    margin-left: 48px;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#rotatingImage {
    animation: rotate 2s linear infinite; /* Adjust the duration as needed */
}