<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>footmoon.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>58f06840-cd44-4ee0-b5bb-a4d01bc61596</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://win5033.site4now.net:8172/MsDeploy.axd?site=nsdcrew-001-site5</MSDeployServiceURL>
    <RemoteSitePhysicalPath>nsdcrew-001-site5</RemoteSitePhysicalPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>nsdcrew-001</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <TargetFramework>net6.0</TargetFramework>
    <DeployIisAppPath>nsdcrew-001-site5</DeployIisAppPath>
  </PropertyGroup>
</Project>